.heading {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}
.idandpass {
    text-align: center;
}
/*
---------------------------------------------------
**** Commented it to make christmas magic work ****
---------------------------------------------------
input.email {
    width: 360px !important;
}
input.pwd {
    width: 360px !important;
}
*/
.loginbutn {
    text-align: center;
}
a#loginBtn {
    width: 20%;
    font-weight: 500;
}


/* Christmas gift from Rajan */
body {
    min-height: 100vh;
    background: #f7f7f7;
}
.login-container {
    width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    margin-top: 54px;
}

.idandpass {
    position: relative;
}

.idandpass input {
    width: 100% !important;
}

.loginbutn a {
    width: 100% !important;
}
.heading {
    padding-top: 75px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
}

.ortext {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.signupBtn {
    text-align: center;
}

a#signupBtn {
    width: 100%;
    font-weight: 500;
}

.signup-container {
    width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    margin-top: 54px;
}

.signinbutn {
    text-align: center;
}

a#signinBtn {
    width: 100%;
    font-weight: 500;
}

.ResetBtn {
    text-align: center;
}

a#resetBtn {
    width: 100%;
    font-weight: 500;
}

.row.welcome-text {
    font-size: 45px;
    font-weight: 500;
}

.col.s6.welcome-user {
    font-size: 30px;
    font-weight: 500;
}

.row.header {
    background-color: #a6a8c3bd;
}


.col.s10.b {
    text-align: center;
    font-size: 30px;
}

.container.z-depth-1{
    width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    
}

.col.s6.profilebtn {
    text-align: right;
    width: 44%;
}

.col.s6.welcome-user {
    width: 56%;
}

a#confirm {
    width: 100%;
    font-size: 20px;
}

.or {
    text-align: center;
    font-size: 20px;
}

a#cancle {
    width: 100%;
    font-size: 20px;
}

a.menu-item {
    display: block;
    width: 100%;
    padding: 10px;
}

.row.header {
    margin-bottom: 0px;
}

.row.maincontent .a {
    padding: 0px;
}

.logo-top {
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
}

.logo-bottom {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

.brand-logo-container {
    padding: 10px;
}

.nav-wrapper {
    background: #004f8b;
}

div#menuContainer {
    /* position: absolute; */
    height: calc(100vh - 64px);
    background: #fff;
}

.row.maincontent {
    margin-bottom: 0px;
}

a.menu-item.selected {
    border-left: 5px solid #1779c1 !important;
    background: #004f8a;
    color: #fff !important;
    font-weight: bold;
}

a.menu-item:hover {
    border-left: 5px solid #ffffff;
    color: #1778c1;
}

div#menuContainer {
    padding-top: 15px;
}

a.menu-item {
    border-left: 5px solid #fff;
    font-weight: normal;
    color: #4294d2;
    border-bottom: 1px solid #f1f1f1;
}

a.menu-item:hover {
    font-weight: bold;
}

div#transferForm {
    margin-top: 30vh;
}

div#transferForm {
    margin-top: 30vh;
}

a#confirm {
    margin-top: 20px;
    border: 2px solid #1778c1;
    background: none !important;
    box-shadow:none;
    color: #1778c1 !important;
    line-height: 30px;
}

a#confirm:hover {
    background: #1778c1 !important;
    color: #fff !important;
}
.transactiontable .card-panel {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 50px;
}

.querytext .card-panel {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30vh;
}

div#personalDetails {
    border-right: 1px solid #ccc;
    margin-top: 40px;
    padding-right: 65px;
}

.detail-row {
    text-align: left;
    margin-bottom: 20px;
}

.detail-label {
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    color: #969696;
}

div#personalDetails .detail-row {
    text-align: right;
}

.detail-value {
    font-size: 23px;
    font-weight: bold;
    line-height: 23px;
    color: #004f8b;
}

div#transactionStats {
    margin-top: 40px;
    padding-left: 65px;
}

div#transactionTabs {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px;
}

div#fundsSent {
    font-size: 15px;
    padding: 43px;
}

div#fundsReceived {
    font-size: 15px;
    padding: 43px;
}

.signinbutn a {
    width: 100%;
}

tr.Credit.transaction-row {
    background: #e7ffe1;
}

tr.Debit.transaction-row {
    background: #ffe7e7;
}